# Logs gerados pelo programa
password_log.txt

# Cache do Python
__pycache__/
*.py[cod]

# Ambientes virtuais
venv/
.venv/
env/

# Configurações de editores
.vscode/
.idea/

# Sistema operacional
.DS_Store
Thumbs.db